### basic class init

In [1]:
class Person():
    def __init__(self, name):
        self.Name = name
    
    def Greeting(self, message):
        self.Message = message
    
    def Introduce(self):
        print(f"Hello, my name is {self.Name}, {self.Message}")

# init Person
dude = Person("Karim")

# declare greeting
dude.Greeting("nice to meet you")

dude.Introduce()

Hello, my name is Karim, nice to meet you

### getters and setters

In [2]:
class Animal():
    def __init__(self, specie):
        self.Specie = specie
        
    def GetSpecie(self):
        x = self.Specie
        
    def SetSpecie(self,x):
        self.Specie = x
    
    def ShowMe(self):
        print(f"This animal is a {self.Specie}")
        
animal = Animal("Tiger")
animal.ShowMe()

animal.SetSpecie("Elephant")
animal.ShowMe()

This animal is a Tiger
This animal is a Elephant

In [46]:
# Making Getters and Setter methods
class Celsius:
    def __init__(self, temperature=0): # setting default to 0
        self.set_temperature(temperature)

    def to_fahrenheit(self):
        return (self.get_temperature() * 1.8) + 32

    # getter method
    def get_temperature(self):
        return self._temperature

    # setter method
    def set_temperature(self, value):
        if value < -273.15:
            raise ValueError("Temperature below -273.15 is not possible.")
        self._temperature = value

# Create a new object, set_temperature() internally called by __init__
human = Celsius(37)

# Get the temperature attribute via a getter
print(human.get_temperature())

# Get the to_fahrenheit method, get_temperature() called by the method itself
print(human.to_fahrenheit())

# new constraint implementation
human.set_temperature(-300)

# Get the to_fahreheit method
print(human.to_fahrenheit())

37
98.60000000000001

ValueError: Temperature below -273.15 is not possible.

### @Decorators

Functions and methods are called callable as they can be called.

In fact, any object which implements the special __call__() method is termed callable. So, in the most basic sense, a decorator is a callable that returns a callable.

Basically, a decorator takes in a function, adds some functionality and returns it.

In [3]:
# basic function

#def basicIntro():
    #return " My name is Karim"

# function to use to decorate something
def decorateMe(func):
    def inner():
        myString = "Hello there," + func()
        #print(myString)
        return myString
    return inner

def offerDrink(func):
    def inner():
        myString = func() + ", Care for a drink?"
        #print(myString)
        return myString
    return inner
        


# generally you decorate a function and assign it as is
#basicIntro = decorateMe(basicIntro)
#print(basicIntro)

In [4]:
# using the @decorators syntax
@decorateMe
@offerDrink
def basicIntro():
    return " I am Karim"

basicIntro()

'Hello there, I am Karim, Care for a drink?'

In [5]:
# simple intro
def Intro():
    return "I am Karim"
print (Intro())

# friendly intro
@decorateMe
def Intro():
    return "I am Karim"
print(Intro())

# charming intro
@decorateMe
@offerDrink
def Intro():
    return "I am Karim"
print(Intro())


# not charming intro
@offerDrink
def Intro():
    return "I am Karim"
print(Intro())

I am Karim
Hello there,I am Karim
Hello there,I am Karim, Care for a drink?
I am Karim, Care for a drink?

### *args

In [38]:
def adder(*args):
    sum = 0
    for arg in args:
        sum += arg
        
    return sum

print(adder(1,2,3,4,5))
print(adder(1))

15
1

In [39]:
def splitByNumber(a,b,c, *args):
    print(f"a is {a}")
    print(f"b is {b}")
    print(f"args is {args}")

splitByNumber(1,3,4,0.555,120.2,-15,12222)

a is 1
b is 3
args is (0.555, 120.2, -15, 12222)

In [40]:
def addition(a, b, *args, option=True):
    result = 0
    if option:
      for i in args:
          result += i
      return a + b + result
    else:
      return result

print(addition(1,4,5,6,7))

print(addition(1,4,5,6,7, option=False))

try: 
    addition(1)
except:
    print("this throws an errorr!!! missing arguments")

23
0
this throws an errorr!!! missing arguments

In [41]:
# this is a nice trick
#If we put an asterisk before lst, 
#the values in the list will be unpacked 
# and stored in args tuple separately.

def arg_printer(*args):
   print(args)

lst = [1,4,5]
arg_printer(*lst)

(1, 4, 5)

### **kwargs

In [6]:
def intro(**kwargs):
    print("\nData type of argument:",type(kwargs))

    for key, value in kwargs.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

### Pandas - Import CSV into DF

In [5]:
import pandas as pd
df = pd.read_csv('vgsales.csv')

In [6]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [7]:
# The describe shows we have null values or empty values
# can either remove them or assign them a place holder value

# df. values returns a numpy array with the underlying 
# data of the DataFrame, without any index or columns names.
# shift tab will also reveal docstring of method (tool tip for jupyter)
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

### sample basic ML model - scikit learn

In [57]:
# using decision tree algo
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
import joblib

#import csv
music_data = pd.read_csv('music.csv')

In [58]:
# dropping columns
X = music_data.drop(columns=['genre'])
y = music_data['genre']

# split data into training and testing
# How to measure accuracy of the model
# General rule of thumb, 70% of data to training, 30% to testing
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)


# making model
model = DecisionTreeClassifier()
model.fit(X,y)

# make prediction
# 1 represents male, 0 represents female
model.fit(X_train,y_train)

# Saving a trained model externally in order to reload it
joblib.dump(model, 'music-recommender.joblib')

"""
predictions = model.predict(X_test)
#predictions = model.predict([ [21,1], [22,0] ])
predictions

# the accuracy score changes everytime you run it
# a good machineLearning model needs a lot of data that is clean
score = accuracy_score(y_test, predictions)
score
predictions = model.predict([ [10,1] ])
predictions
"""

'\npredictions = model.predict(X_test)\n#predictions = model.predict([ [21,1], [22,0] ])\npredictions\n\n# the accuracy score changes everytime you run it\n# a good machineLearning model needs a lot of data that is clean\nscore = accuracy_score(y_test, predictions)\nscore\npredictions = model.predict([ [10,1] ])\npredictions\n'

In [59]:
# using persistant model, getting it from binary file and using it
importedModel = joblib.load('music-recommender.joblib')
iPredictions = model.predict([[21,1]])
iPredictions

array(['HipHop'], dtype=object)

In [60]:
# visualizing decision tree algo we just used
# class_names is the names of our labels
# but these labels are repeated, so we use unique
# then we want to sort it alphabetically
tree.export_graphviz(model,out_file='music-recommender.dot',
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)

### Linear Regression

In [63]:
import quandl

df = quandl.get('WIKI/GOOGL')

df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [67]:
# you need to find as many meaningfull features
# step 1 is to grab features 

df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]

# percent volitility, which is the high low percent
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100.0

# percent change between open and closing of the market
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

df[['Adj. Close' , 'HL_PCT', 'PCT_change', 'Adj. Volume']]

print(df.head())

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume  \
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

              HL_PCT  PCT_change
Date
2004-08-19  3.712563    0.324968
2004-08-20  0.710922    7.227007
2004-08-23  3.729433   -1.227880
2004-08-24  6.417469   -5.726357
2004-08-25  1.886792    1.183658

In [76]:
forcast_col = 'Adj. Close'

# in case some values are missing
# in ml you cant use nan data, and you do not wanna get rid of data or columns
df.fillna(-99999, inplace=True)

import math

# generally we use regression to forcast out
# we will try to predict out 10% out of the data set,
# we are using data that came 10 days ago to predict todays data
forcast_out = int(math.ceil(0.01*len(df)))

df['labal'] = df[forcast_col].shift(-forcast_out)
df.dropna(inplace=True)
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change,labal
Date,,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968,67.739104
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007,69.399229
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880,68.752232
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357,69.639972
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658,69.078238

# Exploring Collections

## Default Dict

This algo groups similar items together into a sublist given a list of on ordered items. This implementations uses defaultDict in order to handle the keyvalue error

In [5]:
# Python3 code to demonstrate working of 
# Group Similar items to Dictionary Values List
# Using defaultdict + loop
from collections import defaultdict
  
# initializing list
test_list = [4, 6, 6, 4, 2, 2, 4, 4, 8, 5, 8]
  
# printing original list
print("The original list : " + str(test_list))
  
# using defaultdict for default list 
res = defaultdict(list)

for ele in test_list:
      
    # appending Similar values
    res[ele].append(ele)
    #print(res)
# printing result 
print("Similar grouped dictionary : " + str(res) )

print(list(dict(res).values()))

The original list : [4, 6, 6, 4, 2, 2, 4, 4, 8, 5, 8]
Similar grouped dictionary : defaultdict(<class 'list'>, {4: [4, 4, 4, 4], 6: [6, 6], 2: [2, 2], 8: [8, 8], 5: [5]})
[[4, 4, 4, 4], [6, 6], [2, 2], [8, 8], [5]]